<h3 mat-dialog-title>Aviso Legal</h3>
<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis libero at lobortis venenatis. Nam vulputate ex id turpis tincidunt, eu euismod augue consequat. In nec orci urna. Aenean porttitor, quam non pulvinar euismod, dui erat auctor turpis, non tincidunt tortor leo sed massa. Mauris laoreet orci quis dui blandit, eu ullamcorper lorem consequat. Aenean ornare nibh sit amet metus bibendum, in laoreet sem viverra. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam hendrerit mollis justo, vitae vehicula ex dictum ac. Cras nisl massa, semper sollicitudin varius id, placerat sed mauris. Morbi tempor nec quam nec congue. Ut euismod scelerisque enim et ultricies.

    Quisque at dui nec nunc commodo gravida eget ut ante. Nulla eget neque vitae massa aliquam gravida a a arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia purus sed mi finibus, nec auctor lorem porta. Morbi ac posuere dolor, sit amet eleifend nisi. Sed nec ultrices tortor, sit amet rhoncus quam. Quisque ac felis mattis, rhoncus massa in, mattis odio. In id tincidunt lorem. Donec nunc nulla, volutpat non vestibulum id, dictum eget mi. Nullam vestibulum vulputate laoreet.
    Generated 2 paragraphs, 189 words, 1215 bytes of Lorem Ipsum
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <!--  checkBox -->
  <button mat-button (click)="onNoClick()">No Gracias</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
