<div cdkDropListGroup>
    <div class="example-container" *ngFor="let asignatura of asignaturas; let i = index">
        <label> {{asignatura.codigoAsignatura}}  {{asignatura.detalle}}</label>

        <div cdkDropList [cdkDropListData]="asignaturaDocente[i]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let docente of asignaturaDocente[i]" cdkDrag>{{docente.apellidoPaterno}} {{docente.apellidoMaterno}} {{docente.primerNombre}} {{docente.segundoNombre}} </div>
        </div>
    </div>


    <div class="example-container">
        <h2>Docentes</h2>

        <div cdkDropList [cdkDropListData]="docentes" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let docente of docentes" cdkDrag>{{docente.apellidoPaterno}} {{docente.apellidoMaterno}} {{docente.primerNombre}} {{docente.segundoNombre}} </div>
        </div>
    </div>
</div>