<div cdkDropListGroup>
    <div class="example-container" *ngFor="let asignatura of asignaturas; let i = index">
        <label> {{asignatura.codigoAsignatura}}  {{asignatura.detalle}}</label>

        <div id="asignaturaDocente[i]" cdkDropList [cdkDropListData]="asignaturaDocente[i]" cdkDropListConnectedTo="docentes" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let docente of asignaturaDocente[i]" cdkDrag>{{docente.apellidoPaterno}} {{docente.apellidoMaterno}} {{docente.primerNombre}} {{docente.segundoNombre}} </div>
        </div>
        <button [disabled]="asignatura.invalid" *ngIf="!agregar" (click)="confirmar(i)" mat-raised-button color="primary">Confirmar</button>
    </div>


    <div class="example-container">
        <h2>Docentes</h2>

        <div id="docentes" cdkDropList [cdkDropListData]="docentes" cdkDropListConnectedTo="asignaturaDocente[i]" class="example-list" (cdkDropListDropped)="dropDocente($event)">
            <div class="example-box" *ngFor="let docente of docentes" cdkDrag>
                {{docente.apellidoPaterno}} {{docente.apellidoMaterno}} {{docente.primerNombre}} {{docente.segundoNombre}} </div>
        </div>
    </div>
</div>