/* You can add global styles to this file, and also import other style files */
@import './sass/variables';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  text-align: center;
}


// creadas por material de uso general
.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}


// creadas por el usuario de uso general
.contenedorTabla {
  height: 75%;
  width: 97%;
  overflow: auto;
  padding-left: 1rem;
}

.encabezadoTabla {
  background-color: $ignugBgLigth;
  font-family: $ignugTextFontDark;
}

.dashboardContenedor {
  width: 97%;
}

