<!-- Tabla de inicio con todos los datos -->
<main fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="60%" class="filtro">
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
      </mat-form-field>
    </div>
    <div fxFlex="40%" class="botonesPrincipal">
      <input type="image" class="icono" (click)="crearPdf() " src="../../../assets/img/icon/plus_32.png" matTooltip="Nuevo registro" *ngIf="selection.selected.length > 0">
      <input type="image" class="icono" (click)="crearPdf() " src="../../../assets/img/icon/adobe_pdf_32.png" matTooltip="Crear Pdf">
      <input type="image" class="icono" (click)="crearXls() " src="../../../assets/img/icon/adobe_pdf_32.png" matTooltip="Crear Xls">
    </div>
</main>

<main class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--checkbox-->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!--Columnas-->

    <ng-container matColumnDef="codigoIes">
      <th mat-header-cell *matHeaderCellDef> Código IES </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoIes}} </td>
    </ng-container>

    <ng-container matColumnDef="razonSocial">
      <th mat-header-cell *matHeaderCellDef> Razón Social </th>
      <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
    </ng-container>

    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef> RUC </th>
      <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
    </ng-container>

    <ng-container matColumnDef="pdfRuc">
      <th mat-header-cell *matHeaderCellDef> PDF RUC </th>
      <td mat-cell *matCellDef="let element">
        <input type="image" (click)="verFile(element.pdfRuc, 'pdf-resolucion')" src="../../../assets/img/icon/adobe_pdf_32.png" >
      </td>
    </ng-container>

    <ng-container matColumnDef="resolucion">
      <th mat-header-cell *matHeaderCellDef> Resolución </th>
      <td mat-cell *matCellDef="let element"> {{element.resolucion}} </td>
    </ng-container>

    <ng-container matColumnDef="pdfResolucion">
      <th mat-header-cell *matHeaderCellDef> PDF Resolución </th>
      <td mat-cell *matCellDef="let element">
        <input type="image" (click)="verFile(element.pdfResolucion, 'pdf-resolucion')" src="../../../assets/img/icon/adobe_pdf_32.png" >
      </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoría </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="logotipo">
      <th mat-header-cell *matHeaderCellDef> Logotipo </th>
      <td mat-cell *matCellDef="let element">
        <img class="logoInstituto" src= "{{url}}ver-archivo/{{element.logotipo}}/imagen-logotipo">
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Creado el: </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Modificado el: </th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="evento" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> Evento</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button color="primary" aria-label="Editar registro" (click)="editar(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Eliminar registro" (click)="eliminar(element.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="encabezadoTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

  </table>
</main>
<main class="paginador">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</main>



<!-- formulario de ingreso o modificación de datos -->
<main>

</main>
