<button (click)="irComponente('Gestión Institutos', 'institutos')" >institutos</button>
<button (click)="irComponente('Gestión Personas', 'personas')" >personas</button>
<button (click)="irComponente('Solicitud de Matricula', 'solicitud-matricula')">solicitud matricula</button>
<button (click)="irComponente('Distributivo Docente', 'distributivo-docente')">distributivo Docente</button>
<button (click)="irComponente('Aceptar matricula', 'aceptar-matricula')">Aceptar matricula</button>
<button (click)="irComponente('Solicitud anulacion matricula', 'solicitar-anulacion-matricula')">Anular matricula</button>



