<mat-tab-group  mat-align-tabs="center">
  <mat-tab  *ngIf="mostrar" label="Asignaturas">
    <ng-template mat-tab-label>
      <mat-icon style="color: #ff944d;" class="example-tab-icon">subject</mat-icon>
      Asignaturas
    </ng-template>

    <mat-card class="example-card">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--Columnas-->

        <ng-container matColumnDef="codigoAsignatura">
          <th mat-header-cell *matHeaderCellDef> Codigo de Asignatura </th>
          <td mat-cell *matCellDef="let element"> {{element.Asignatura?.codigoAsignatura}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef> Nombre de la asignatura </th>
          <td mat-cell *matCellDef="let element"> {{element.Asignatura?.detalle}} </td>
        </ng-container>

        <ng-container matColumnDef="creditos">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Número de créditos </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.Asignatura?.creditos}} </td>
        </ng-container>

        <ng-container matColumnDef="nivel">
          <th mat-header-cell *matHeaderCellDef> Nivel </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.Asignatura?.PeriodosAcademico?.nivel}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroMatricula">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> N° Matricula </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.numeroMatricula}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="encabezadoTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>


      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab   *ngIf="mostrar" label="Documentos">

    <ng-template mat-tab-label>
      <mat-icon mat-stroked-button color="warn" class="example-tab-icon">picture_as_pdf</mat-icon>
      Documentos
    </ng-template>
    <mat-accordion>
      <mat-expansion-panel *ngIf="!slider[0]">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon  mat-raised-button color="warn" class="example-tab-icon">picture_as_pdf</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            PDF Título de grado
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div  style="height:300px;">
          <pdf-viewer (click)="verFile(documento.pdfTituloGrado,'pdf-titulo')" src="{{url}}ver-archivo/{{documento.pdfTituloGrado}}/pdf-titulo"
          [render-text]="true"
          [original-size]="false"
          [autoresize]="true"
          [show-borders]="true"
          style="display: block; width: 650px; height: 400px;"
          ></pdf-viewer>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngIf="!slider[1]">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon mat-raised-button color="warn" class="example-tab-icon">picture_as_pdf</mat-icon>
          </mat-panel-title>
          <mat-panel-description>

            PDF Asignación de cupo

          </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="height:300px;">
          <pdf-viewer (click)="verFile(documento.pdfAsignacionCupo,'pdf-cupo')" src="{{url}}ver-archivo/{{documento.pdfAsignacionCupo}}/pdf-cupo"
          [render-text]="true"
          style="display: block; width: 650px; height: 400px;"
          [original-size]="false"
          [autoresize]="true"
          [show-borders]="true"
          ></pdf-viewer>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      *ngIf="!slider[2]">
      <mat-expansion-panel-header>
      <mat-panel-title>
         <mat-icon mat-raised-button color="warn" class="example-tab-icon">picture_as_pdf</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
          PDF Cédula
      </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="height:300px;">
        <pdf-viewer  (click)="verFile(documento.pdfCedula,'pdf-cedula')" src="{{url}}ver-archivo/{{documento.pdfCedula}}/pdf-cedula"
        [render-text]="true"
        [original-size]="false"
        [autoresize]="true"
        [show-borders]="true"
        style="display: block; width: 650px; height: 400px;"
        ></pdf-viewer>
      </div>
      </mat-expansion-panel>

    </mat-accordion>

    <div style="margin-top: 30px;">
        <mat-slide-toggle  mat-raised-button color="warn" [(ngModel)]="slider[0]">Anular el PDF título de grado</mat-slide-toggle><br>
        <mat-slide-toggle  mat-raised-button color="warn" [(ngModel)]="slider[1]">Anular el PDF de asignación de cupo</mat-slide-toggle><br>
        <mat-slide-toggle  mat-raised-button color="warn" [(ngModel)]="slider[2]">Anular el PDF de cédula</mat-slide-toggle>
    </div>

  </mat-tab>

  <mat-tab   *ngIf="mostrar"  label="Información">

    <ng-template mat-tab-label>
      <mat-icon mat-stroked-button color="primary" class="example-tab-icon">how_to_reg</mat-icon>
      Información
    </ng-template>

    <mat-card class="example-card1">
      <mat-card-header>
        <div mat-card-avatar >
          <img class="example-header-image1" src="{{url}}ver-archivo/{{persona.foto}}/imagen-persona" alt="">
        </div>
        <mat-card-title class="tamaño">{{persona.primerNombre}} {{persona.apellidoPaterno}} {{persona.segundoNombre}} {{persona.apellidoMaterno}}</mat-card-title>
        <mat-card-subtitle>{{persona.identificacion}}</mat-card-subtitle>

      </mat-card-header>

      <mat-card-content class="alineacion">
        <div>
          <mat-card-title  class="tamaño">Email Institucional</mat-card-title>
          <mat-card-subtitle>{{persona.emailInstitucional}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title  class="tamaño">Email Personal</mat-card-title>
          <mat-card-subtitle>{{persona.emailPersonal}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title  class="tamaño">Carrera</mat-card-title>
          <mat-card-subtitle>{{data.Malla.Carrera.detalle}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title  class="tamaño">Nivel</mat-card-title>
          <mat-card-subtitle>{{nivel}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title *ngIf="slider[0]||slider[1]||slider[2]" class="tamaño">PDF erroneos: </mat-card-title>
          <mat-card-subtitle *ngIf="slider[0]">PDF Título de grado</mat-card-subtitle>
          <mat-card-subtitle *ngIf="slider[1]">PDF Asignación de cupo</mat-card-subtitle>
          <mat-card-subtitle *ngIf="slider[2]">PDF Cédula</mat-card-subtitle>
        </div>

        <div *ngIf="slider[0]||slider[1]||slider[2]">
          <div>
            <mat-card-title  class="tamaño">Recomendaciones para los PDFs</mat-card-title>
          </div>
          <div class="alineacion">
            <mat-form-field style="width: 350px;" appearance="fill">
              <mat-label style="width: 350px;" >Recomendaciones</mat-label>
              <textarea matInput [(ngModel)]="recomendacion"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div style="text-align: right;">
          <button mat-button color="primary" matTooltip="Enviar la información de {{persona.primerNombre}} {{persona.apellidoPaterno}}"(click)="cambio()">Enviar</button>
        </div>
      </mat-card-content>

    </mat-card>

  </mat-tab>

  <mat-tab *ngIf="!mostrar"  label="¿Desea continuar?">

    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">error_outline</mat-icon>
      ¿Desea continuar?
    </ng-template>

    <mat-card  style="border-top: 50px;" class="example-card1">
      <mat-card-content class="alineacion">
      <div style="border-top: 40px;">

        <div style="border-right: 30px; display: inline;" >

          <button matTooltip="Aceptar" style="border-right: 75px;" mat-button mat-stroked-button color="primary" [mat-dialog-close]="cerrar" (click)="enviarInformacion()">Aceptar</button>

        </div>
        <div style="display:inline;">

          <button matTooltip="Cancelar" mat-button mat-stroked-button color="accent" (click)="cambio()">Cancelar</button>

        </div>

      </div>
    </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>

