<mat-tab-group  mat-align-tabs="center">
  <mat-tab label="Asignaturas">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">subject</mat-icon>
      Asignaturas
    </ng-template>

    <mat-card class="example-card">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--Columnas-->

        <ng-container matColumnDef="codigoAsignatura">
          <th mat-header-cell *matHeaderCellDef> Codigo de Asignatura </th>
          <td mat-cell *matCellDef="let element"> {{element.Asignatura?.codigoAsignatura}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef> Nombre de la asignatura </th>
          <td mat-cell *matCellDef="let element"> {{element.Asignatura?.detalle}} </td>
        </ng-container>

        <ng-container matColumnDef="creditos">
          <th mat-header-cell *matHeaderCellDef> Número de créditos </th>
          <td mat-cell *matCellDef="let element"> {{element.Asignatura?.creditos}} </td>
        </ng-container>

        <ng-container matColumnDef="nivel">
          <th mat-header-cell *matHeaderCellDef> Nivel </th>
          <td mat-cell *matCellDef="let element"> {{element.Asignatura?.PeriodosAcademico?.nivel}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroMatricula">
          <th mat-header-cell *matHeaderCellDef> N° Matricula </th>
          <td mat-cell *matCellDef="let element"> {{element.textoMatricula}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="encabezadoTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>


      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Documentos">

    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">picture_as_pdf</mat-icon>
      Documentos
    </ng-template>
    <mat-accordion>
      <mat-expansion-panel *ngIf="!slider[0]">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="example-tab-icon">picture_as_pdf</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            PDF Título de grado
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div  style="height:300px;">
          <pdf-viewer (click)="verFile(pdfTituloGrado,'pdf-titulo')" src="{{url}}ver-archivo/{{pdfTituloGrado}}/pdf-titulo"
          [render-text]="true"
          [original-size]="false"
          [autoresize]="true"
          [show-borders]="true"
          style="display: block; width: 650px; height: 400px;"
          ></pdf-viewer>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           *ngIf="!slider[1]">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="example-tab-icon">picture_as_pdf</mat-icon>
          </mat-panel-title>
          <mat-panel-description>

            PDF Asignación de cupo

          </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="height:300px;">
          <pdf-viewer (click)="verFile(pdfAsignacionCupo,'pdf-cupo')" src="{{url}}ver-archivo/{{pdfAsignacionCupo}}/pdf-cupo"
          [render-text]="true"
          style="display: block; width: 650px; height: 400px;"
          [original-size]="false"
          [autoresize]="true"
          [show-borders]="true"
          ></pdf-viewer>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      *ngIf="!slider[2]">
      <mat-expansion-panel-header>
      <mat-panel-title>
         <mat-icon class="example-tab-icon">picture_as_pdf</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
          PDF Cédula
      </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="height:300px;">
        <pdf-viewer  (click)="verFile(pdfCedula,'pdf-cedula')" src="{{url}}ver-archivo/{{pdfCedula}}/pdf-cedula"
        [render-text]="true"
        [original-size]="false"
        [autoresize]="true"
        [show-borders]="true"
        style="display: block; width: 650px; height: 400px;"
        ></pdf-viewer>
      </div>
      </mat-expansion-panel>

    </mat-accordion>
    <div style="margin-top: 30px;">
        <mat-slide-toggle  [(ngModel)]="slider[0]">Anular el PDF título de grado</mat-slide-toggle><br>
        <mat-slide-toggle  [(ngModel)]="slider[1]">Anular el PDF de asignación de cupo</mat-slide-toggle><br>
        <mat-slide-toggle  [(ngModel)]="slider[2]">Anular el PDF de cédula</mat-slide-toggle>
    </div>
  </mat-tab>

  <mat-tab   label="Informacion">

    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">how_to_reg</mat-icon>
      Informacion
    </ng-template>

    <mat-card class="example-card1">
      <mat-card-header>
        <div mat-card-avatar >
          <img class="example-header-image1" src="{{url}}ver-archivo/{{foto}}/imagen-persona" alt="">
        </div>
        <mat-card-title class="tamaño">{{pNombre}} {{pApellido}} {{sNombre}} {{mApellido}}</mat-card-title>
        <mat-card-subtitle>{{identificacion}}</mat-card-subtitle>

      </mat-card-header>

      <mat-card-content class="alineacion">
        <div>
          <mat-card-title  class="tamaño">Email Institucional</mat-card-title>
          <mat-card-subtitle>{{emailInstitucional}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title  class="tamaño">Email Personal</mat-card-title>
          <mat-card-subtitle>{{emailPersonal}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title  class="tamaño">Carrera</mat-card-title>
          <mat-card-subtitle>{{carrera}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title  class="tamaño">Nivel</mat-card-title>
          <mat-card-subtitle>{{nivel}}</mat-card-subtitle>
        </div>
        <div>
          <mat-card-title *ngIf="slider[0]||slider[1]||slider[2]" class="tamaño">PDF erroneos: </mat-card-title>
          <mat-card-subtitle *ngIf="slider[0]" >PDF Título de grado</mat-card-subtitle>
          <mat-card-subtitle *ngIf="slider[1]">PDF Asignación de cupo</mat-card-subtitle>
          <mat-card-subtitle *ngIf="slider[2]">PDF Cédula</mat-card-subtitle>
        </div>

        <div *ngIf="slider[0]||slider[1]||slider[2]">
          <div>
            <mat-card-title  class="tamaño">Recomendaciones para los PDFs</mat-card-title>
          </div>
          <div class="alineacion">
            <mat-form-field style="width: 350px;" appearance="fill">
              <mat-label style="width: 350px;" >Recomendaciones</mat-label>
              <textarea matInput [(ngModel)]="recomendacion"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div style="text-align: right;">
          <button (click)="enviarInformacion()" mat-flat-button color="accent">Enviar</button>
        </div>
      </mat-card-content>

    </mat-card>

  </mat-tab>

</mat-tab-group>
