<!-- Tabla de inicio con todos los datos -->
<main class="dashboardContenedor" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" *ngIf="!nuevo">
  <div fxFlex="60%" class="filtro">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
  </div>
</main>

<main class="contenedorTabla centro" *ngIf="!nuevo">
<table class="centro" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--Columnas-->
  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef> Solicitante </th>
    <td mat-cell *matCellDef="let element">
      <img class="fotografiaPersona" src= "{{url}}ver-archivo/{{element.PersonasRole.Persona.foto}}/imagen-persona">
    </td>
  </ng-container>

  <ng-container matColumnDef="identificacion">
    <th mat-header-cell *matHeaderCellDef> Identificación </th>
    <td mat-cell *matCellDef="let element"> {{element.PersonasRole.Persona?.identificacion}} </td>
  </ng-container>

  <ng-container matColumnDef="primerNombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.PersonasRole.Persona?.primerNombre}} </td>
  </ng-container>

  <ng-container matColumnDef="apellidoPaterno">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.PersonasRole.Persona?.apellidoPaterno}} </td>
  </ng-container>

  <ng-container matColumnDef="codigoSolicitud">
    <th mat-header-cell *matHeaderCellDef> Código Solicitud </th>
    <td mat-cell *matCellDef="let element"> {{element.codigoSolicitud}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Fecha de Solicitación </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="detalle">
    <th mat-header-cell *matHeaderCellDef> Periodo Lectivo </th>
    <td mat-cell *matCellDef="let element"> {{element.PeriodosLectivo.detalle}} </td>
  </ng-container>

  <ng-container matColumnDef="malla">
    <th mat-header-cell *matHeaderCellDef> Carrera </th>
    <td mat-cell *matCellDef="let element"> {{element.Carrera.detalle}} </td>
  </ng-container>

  <ng-container matColumnDef="evento" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> Evento</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button color="primary" aria-label="Revisar" (click)="openDialog(i)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="encabezadoTabla"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

</table>
</main>
<main class="paginador" *ngIf="!nuevo">
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</main>
